<section class="principalYellow text-center text-white d-flex">
    <div class="container" data-aos="flip-left" data-aos-duration="400">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h2>Étudiant ingénieur</h2>
                <br>
                <p class="greyText">Je recherche une alternance en développement web de 12 mois à partir de septembre 2022. Le rythme d'alternance est 4semaines/3semaines. En dernière année d'école, je serai disponible pour travailler à la fin de mon contrat.</p>
                <p class="greyText">Je vais vous présenter mes compétences et mon parcours :</p>
            </div>
        </div>
    </div>
</section>

