<section>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h2 class="text-uppercase">Compétences</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 class="text-uppercase" id="parcours">Parcours</h2>
                <ngx-timeline
                [timelineThickness]="timelineThickness"
                [startpoint]="startpoint"
                [endpoint]="endpoint"
                [timelineSegments]="timelineSegments">
                </ngx-timeline>
            </div>
        </div>
    </div>
</section>
