<section>
    <div class="container">
        <div class="row my-5" data-aos="zoom-in-up">
            <h2 class="text-uppercase text-white text-center my-5">Compétences</h2>
            <div class="col-5 mx-auto text-center" >
                <div>
                    <div class="bar">
                        <div class="bar fill" style="width: 80%;">
                            <div class="tag">
                                Javascript
                            </div>
                        </div>
                        <span class="text-white">80%</span>
                    </div>
                    <div class="bar">
                        <div class="bar fill" style="width: 60%;">
                            <div class="tag">
                                CSS
                            </div>
                        </div>
                        <span class="text-white">60%</span>
                    </div>
                    <div class="bar">
                        <div class="bar fill" style="width: 50%;">
                            <div class="tag">
                                Angular
                            </div>
                        </div>
                        <span class="text-white">50%</span>
                    </div>
                </div>        
            </div>
            <div class="col-5 mx-auto text-center">
                <div>
                    <div class="bar">
                        <div class="bar fill" style="width: 90%;">
                            <div class="tag">
                                Management
                            </div>
                        </div>
                        <span class="text-white">90%</span>
                    </div>
                    <div class="bar">
                        <div class="bar fill" style="width: 60%;">
                            <div class="tag">
                                Git
                            </div>
                        </div>
                        <span class="text-white">60%</span>
                    </div>
                    <div class="bar">
                        <div class="bar fill" style="width: 35%;">
                            <div class="tag">
                                Java
                            </div>
                        </div>
                        <span class="text-white">35%</span>
                    </div>
                </div>        
            </div>
        </div>
        <div class="row my-5">
            <h2 class="text-uppercase text-white text-center my-5" id="parcours">Parcours</h2>
            <div class="col-8 mx-auto text-center">
                <ngx-timeline
                [timelineThickness]="timelineThickness"
                [startpoint]="startpoint"
                [endpoint]="endpoint"
                [timelineSegments]="timelineSegments">
                </ngx-timeline>
            </div>
        </div>
    </div>
    
</section>
