<section>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h2 class="text-uppercase text-white">Compétences</h2>
                <br>
                <br>
                <div>
                    <div class="bar">
                        <div class="bar fill">

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <h2 class="text-uppercase text-white" id="parcours">Parcours</h2>
                <ngx-timeline
                [timelineThickness]="timelineThickness"
                [startpoint]="startpoint"
                [endpoint]="endpoint"
                [timelineSegments]="timelineSegments">
                </ngx-timeline>
            </div>
        </div>
    </div>
</section>
