<div id="bigContainer" class="text-center text-white d-flex">
    <div class="container my-5 mx-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p class="text-light">Bonjour</p>
                <p class="text-light">Je suis Antoine Varnerot</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="text-light">J'aime bien les POKs ...</p>
                <p class="text-light">Et surtout les MONS</p>
            </div>
        </div>
        
    </div>
</div>

