@use "../../styles";

.icon {
    width: 40px;
    margin-right: 7px;
    margin-left: 7px;
}

hr {
    max-width: 200px;
    border-width: 3px;
    border-color: rgb(219, 223, 253);
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(219, 223, 253);
    opacity: 1;
}