$principalBlue: #003049;
$principalYellow: #d62828;

.principalBlue {
    background-color: $principalBlue;
}

.principalYellow {
    background-color: $principalYellow;
}

section {
    padding: 4rem;
}

* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

